article h1 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: calc(2.25 / 1.875);
  color: #fff;
  margin-bottom: calc(0.25rem * 8);
}


article h2 {
  font-size:  1.5rem;
  font-weight: 700;
  line-height: calc(2.5 / 2.25);
  color: #fff;
  margin-bottom: calc(0.25rem * 7);
}

article h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: calc(1.75 / 1.25);
  color: #fff;
  margin-bottom: calc(0.25rem * 6);
}

article h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: calc(1.75 / 1.125);
  color: #fff;
  margin-bottom: calc(0.25rem * 5);
}

article p {
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1.5 / 1);
  color: #fff;
  margin-bottom: calc(0.25rem * 4);
}
